{
  "openapi": "3.1.0",
  "info": {
    "title": "Stackr API",
    "description": "API para hospedar, gerenciar, ligar/desligar e fazer backups de bots.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.stackr.lat",
      "description": "Stackr API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "API Token obtido no dashboard. Use: Authorization: Bearer <SEU_API_TOKEN>"
      }
    },
    "schemas": {
      "Bot": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "ID único do bot" },
          "name": { "type": "string", "description": "Nome do bot" },
          "status": { "type": "string", "description": "Status atual (running, stopped)" },
          "language": { "type": "string", "description": "Linguagem do bot" },
          "memoryMb": { "type": "integer", "description": "Memória alocada em MB" },
          "command": { "type": "string", "description": "Comando de inicialização" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Backup": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "ID do backup" },
          "botId": { "type": "string", "description": "ID do bot" },
          "createdAt": { "type": "string", "format": "date-time" },
          "size": { "type": "integer", "description": "Tamanho em bytes" }
        }
      }
    }
  },
  "paths": {
    "/bots/upload": {
      "post": {
        "summary": "Upload de novo bot",
        "description": "Envia um arquivo .zip contendo o código do bot para ser hospedado.",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo .zip (Obrigatório, máx 50MB)"
                  },
                  "botName": {
                    "type": "string",
                    "description": "Nome do bot (Opcional)"
                  },
                  "language": {
                    "type": "string",
                    "description": "Linguagem do bot (ex: nodejs, python)"
                  },
                  "command": {
                    "type": "string",
                    "description": "Comando de inicialização"
                  },
                  "memory": {
                    "type": "string",
                    "enum": ["100MB", "256MB", "512MB"],
                    "description": "Limite de memória"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Bot criado com sucesso" },
          "401": { "description": "Não autorizado" },
          "400": { "description": "Requisição inválida" }
        }
      }
    },
    "/bots": {
      "get": {
        "summary": "Listar bots",
        "description": "Retorna todos os bots do usuário.",
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": { "description": "Lista de bots" },
          "401": { "description": "Não autorizado" }
        }
      }
    },
    "/bots/{id}": {
      "get": {
        "summary": "Detalhes do bot",
        "description": "Retorna informações detalhadas de um bot específico.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Detalhes do bot" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/start": {
      "post": {
        "summary": "Ligar bot",
        "description": "Inicia a execução de um bot.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Bot iniciado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/stop": {
      "post": {
        "summary": "Desligar bot",
        "description": "Para a execução de um bot.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Bot parado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/restart": {
      "post": {
        "summary": "Reiniciar bot",
        "description": "Reinicia um bot em execução.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Bot reiniciado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/delete": {
      "post": {
        "summary": "Deletar bot",
        "description": "Remove permanentemente um bot e seus dados.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Bot deletado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/commit": {
      "post": {
        "summary": "Commit/atualizar código",
        "description": "Atualiza o código fonte do bot enviando um novo .zip.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": { "type": "string", "format": "binary", "description": "Arquivo .zip (Obrigatório)" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Código atualizado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/logs": {
      "get": {
        "summary": "Logs do bot",
        "description": "Retorna os últimos logs de execução do bot.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "tail", "in": "query", "schema": { "type": "integer", "default": 100 }, "description": "Número de linhas (padrão: 100)" }
        ],
        "responses": {
          "200": { "description": "Logs do bot" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/settings": {
      "patch": {
        "summary": "Atualizar configurações",
        "description": "Atualiza nome, memória ou comando de inicialização do bot.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "description": "Novo nome" },
                  "memoryMb": { "type": "integer", "enum": [100, 256, 512], "description": "Memória em MB" },
                  "command": { "type": "string", "description": "Comando de start" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Configurações atualizadas" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/files": {
      "get": {
        "summary": "Listar arquivos",
        "description": "Lista arquivos e pastas em um diretório do bot.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "path", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Caminho (ex: /app)" }
        ],
        "responses": {
          "200": { "description": "Lista de arquivos" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/files/content": {
      "get": {
        "summary": "Ler arquivo",
        "description": "Retorna o conteúdo de um arquivo específico.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "path", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Caminho do arquivo (ex: /app/index.js)" }
        ],
        "responses": {
          "200": { "description": "Conteúdo do arquivo" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Arquivo não encontrado" }
        }
      },
      "put": {
        "summary": "Escrever arquivo",
        "description": "Cria ou sobrescreve o conteúdo de um arquivo.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path", "content"],
                "properties": {
                  "path": { "type": "string" },
                  "content": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Arquivo escrito" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/files/mkdir": {
      "post": {
        "summary": "Criar pasta",
        "description": "Cria uma nova pasta no sistema de arquivos do bot.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Pasta criada" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/files/delete": {
      "post": {
        "summary": "Deletar arquivo",
        "description": "Remove um arquivo ou pasta.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Arquivo deletado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/bots/{id}/backup": {
      "post": {
        "summary": "Criar backup",
        "description": "Cria um backup do estado atual do bot.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Backup criado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Bot não encontrado" }
        }
      }
    },
    "/backups": {
      "get": {
        "summary": "Listar backups",
        "description": "Lista todos os backups disponíveis.",
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": { "description": "Lista de backups" },
          "401": { "description": "Não autorizado" }
        }
      }
    },
    "/backups/{id}/download": {
      "get": {
        "summary": "Baixar backup",
        "description": "Faz o download do arquivo de backup.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Arquivo de backup" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Backup não encontrado" }
        }
      }
    }
  }
}
