{
  "openapi": "3.1.0",
  "info": {
    "title": "Stackr API",
    "description": "API para hospedar, gerenciar, ligar/desligar e fazer backups de apps.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.stackr.lat",
      "description": "Stackr API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token",
        "description": "API Token obtido no dashboard. Use: Authorization: Bearer <SEU_API_TOKEN>"
      }
    },
    "schemas": {
      "App": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "ID único do app" },
          "name": { "type": "string", "description": "Nome do app" },
          "status": { "type": "string", "description": "Status atual (running, stopped)" },
          "language": { "type": "string", "description": "Linguagem do app" },
          "memoryMb": { "type": "integer", "description": "Memória alocada em MB" },
          "command": { "type": "string", "description": "Comando de inicialização" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Backup": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "ID do backup" },
          "appId": { "type": "string", "description": "ID do backup" },
          "createdAt": { "type": "string", "format": "date-time" },
          "size": { "type": "integer", "description": "Tamanho em bytes" }
        }
      }
    }
  },
  "paths": {
    "/apps/upload": {
      "post": {
        "summary": "Upload de novo app",
        "description": "Envia um arquivo .zip contendo o código do app para ser hospedado.",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo .zip (Obrigatório, máx 50MB)"
                  },
                  "appName": {
                    "type": "string",
                    "description": "Nome do app (Opcional)"
                  },
                  "language": {
                    "type": "string",
                    "description": "Linguagem do app (ex: nodejs, python)"
                  },
                  "command": {
                    "type": "string",
                    "description": "Comando de inicialização"
                  },
                  "memory": {
                    "type": "string",
                    "description": "Limite de memória: 100, 256, 512, 1024, etc."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Slug único para APIs (ex: meu-app)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "App criado com sucesso" },
          "401": { "description": "Não autorizado" },
          "400": { "description": "Requisição inválida" }
        }
      }
    },
    "/apps": {
      "get": {
        "summary": "Listar apps",
        "description": "Retorna todos os apps do usuário.",
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": { "description": "Lista de apps" },
          "401": { "description": "Não autorizado" }
        }
      }
    },
    "/apps/{id}": {
      "get": {
        "summary": "Detalhes do app",
        "description": "Retorna informações detalhadas de um app específico.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Detalhes do app" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/start": {
      "post": {
        "summary": "Ligar app",
        "description": "Inicia a execução de um app.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "App iniciado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/stop": {
      "post": {
        "summary": "Desligar app",
        "description": "Para a execução de um app.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "App parado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/restart": {
      "post": {
        "summary": "Reiniciar app",
        "description": "Reinicia um app em execução.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "App reiniciado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/delete": {
      "post": {
        "summary": "Deletar app",
        "description": "Remove permanentemente um app e seus dados.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "App deletado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/commit": {
      "post": {
        "summary": "Commit/atualizar código",
        "description": "Atualiza o código fonte do app enviando um novo .zip.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": { "type": "string", "format": "binary", "description": "Arquivo .zip (Obrigatório)" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Código atualizado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/logs": {
      "get": {
        "summary": "Logs do app",
        "description": "Retorna os últimos logs de execução do app.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "tail", "in": "query", "schema": { "type": "integer", "default": 100 }, "description": "Número de linhas (padrão: 100)" }
        ],
        "responses": {
          "200": { "description": "Logs do app" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/settings": {
      "patch": {
        "summary": "Atualizar configurações",
        "description": "Atualiza nome, memória ou comando de inicialização do app.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "description": "Novo nome" },
                  "memoryMb": { "type": "integer", "enum": [100, 256, 512], "description": "Memória em MB" },
                  "command": { "type": "string", "description": "Comando de start" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Configurações atualizadas" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/files": {
      "get": {
        "summary": "Listar arquivos",
        "description": "Lista arquivos e pastas em um diretório do app.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "path", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Caminho (ex: /app)" }
        ],
        "responses": {
          "200": { "description": "Lista de arquivos" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/files/content": {
      "get": {
        "summary": "Ler arquivo",
        "description": "Retorna o conteúdo de um arquivo específico.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "path", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Caminho do arquivo (ex: /app/index.js)" }
        ],
        "responses": {
          "200": { "description": "Conteúdo do arquivo" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Arquivo não encontrado" }
        }
      },
      "put": {
        "summary": "Escrever arquivo",
        "description": "Cria ou sobrescreve o conteúdo de um arquivo.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path", "content"],
                "properties": {
                  "path": { "type": "string" },
                  "content": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Arquivo escrito" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/files/mkdir": {
      "post": {
        "summary": "Criar pasta",
        "description": "Cria uma nova pasta no sistema de arquivos do app.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Pasta criada" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/files/delete": {
      "post": {
        "summary": "Deletar arquivo",
        "description": "Remove um arquivo ou pasta.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Arquivo deletado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/apps/{id}/backup": {
      "post": {
        "summary": "Criar backup",
        "description": "Gera backup em tempo real e inicia download via streaming. Arquivo não mantido no servidor.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Backup criado" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "App não encontrado" }
        }
      }
    },
    "/backups": {
      "get": {
        "summary": "Listar backups",
        "description": "Lista todos os backups disponíveis.",
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": { "description": "Lista de backups" },
          "401": { "description": "Não autorizado" }
        }
      }
    },
    "/backups/{id}/download": {
      "get": {
        "summary": "Baixar backup",
        "description": "Faz o download do arquivo de backup.",
        "security": [{"bearerAuth": []}],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Arquivo de backup" },
          "401": { "description": "Não autorizado" },
          "404": { "description": "Backup não encontrado" }
        }
      }
    },
    "/auth/stats": {
      "get": {
        "summary": "Estatísticas públicas",
        "description": "Retorna contagem de usuários e deploys. Não requer autenticação.",
        "security": [],
        "responses": { "200": { "description": "Estatísticas" } }
      }
    },
    "/settings": {
      "get": {
        "summary": "Obter perfil",
        "description": "Retorna ID do dono e nickname.",
        "security": [{"bearerAuth": []}],
        "responses": { "200": { "description": "Perfil" }, "401": { "description": "Não autorizado" } }
      },
      "put": {
        "summary": "Atualizar perfil",
        "description": "Atualiza nickname.",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "nickname": { "type": "string" } } }
            }
          }
        },
        "responses": { "200": { "description": "Perfil atualizado" }, "401": { "description": "Não autorizado" } }
      }
    },
    "/apps/{id}/stats": {
      "get": {
        "summary": "Estatísticas em tempo real",
        "description": "CPU, RAM e rede.",
        "security": [{"bearerAuth": []}],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Métricas" }, "401": { "description": "Não autorizado" }, "404": { "description": "App não encontrado" } }
      }
    },
    "/apps/{id}/rebuild": {
      "post": {
        "summary": "Reconstruir app",
        "description": "Reconstrói o container do zero.",
        "security": [{"bearerAuth": []}],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Rebuilding" }, "401": { "description": "Não autorizado" }, "404": { "description": "App não encontrado" } }
      }
    },
    "/apps/{id}/oom-notified": {
      "post": {
        "summary": "Confirmar notificação OOM",
        "description": "Marca aviso de memória como visualizado.",
        "security": [{"bearerAuth": []}],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Confirmado" }, "401": { "description": "Não autorizado" }, "404": { "description": "App não encontrado" } }
      }
    },
    "/apps/{id}/files/rename": {
      "put": {
        "summary": "Renomear arquivo",
        "description": "Renomeia arquivo ou pasta.",
        "security": [{"bearerAuth": []}],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["oldPath", "newPath"], "properties": { "oldPath": { "type": "string" }, "newPath": { "type": "string" } } }
            }
          }
        },
        "responses": { "200": { "description": "Renomeado" }, "401": { "description": "Não autorizado" }, "404": { "description": "App não encontrado" } }
      }
    },
    "/plans/config": {
      "get": {
        "summary": "Configuração de preços",
        "description": "Valores base para memória e descontos por duração.",
        "security": [{"bearerAuth": []}],
        "responses": { "200": { "description": "Config preços" }, "401": { "description": "Não autorizado" } }
      }
    },
    "/plans": {
      "get": {
        "summary": "Ver plano atual",
        "description": "Retorna plano com memória e expiração.",
        "security": [{"bearerAuth": []}],
        "responses": { "200": { "description": "Plano" }, "401": { "description": "Não autorizado" } }
      }
    },
    "/plans/expiring": {
      "get": {
        "summary": "Planos expirando",
        "description": "Planos vencendo em breve.",
        "security": [{"bearerAuth": []}],
        "responses": { "200": { "description": "Lista" }, "401": { "description": "Não autorizado" } }
      }
    },
    "/plans/purchase": {
      "post": {
        "summary": "Comprar plano",
        "description": "Inicia compra com PIX.",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["memoryMb", "duration", "payerName", "payerDocument"],
                "properties": {
                  "memoryMb": { "type": "integer" },
                  "duration": { "type": "string", "enum": ["monthly", "yearly"] },
                  "quantity": { "type": "integer", "description": "Quantidade (padrão: 1)" },
                  "payerName": { "type": "string" },
                  "payerDocument": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Dados PIX" }, "401": { "description": "Não autorizado" } }
      }
    },
    "/plans/check": {
      "post": {
        "summary": "Verificar pagamento",
        "description": "Verifica status do PIX.",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["transactionId"], "properties": { "transactionId": { "type": "string" } } }
            }
          }
        },
        "responses": { "200": { "description": "Status" }, "401": { "description": "Não autorizado" } }
      }
    },
    "/plans/upgrade": {
      "post": {
        "summary": "Upgrade de plano",
        "description": "Adiciona memória ao plano.",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["targetMemoryMb", "duration"], "properties": { "targetMemoryMb": { "type": "integer" }, "duration": { "type": "string", "enum": ["monthly", "yearly"] } } }
            }
          }
        },
        "responses": { "200": { "description": "Transação PIX" }, "401": { "description": "Não autorizado" } }
      }
    },
    "/plans/purchases": {
      "get": {
        "summary": "Listar compras",
        "description": "Histórico de compras.",
        "security": [{"bearerAuth": []}],
        "responses": { "200": { "description": "Histórico" }, "401": { "description": "Não autorizado" } }
      }
    },
    "/plans/purchases/{id}": {
      "get": {
        "summary": "Detalhes da compra",
        "description": "Detalhes de uma compra.",
        "security": [{"bearerAuth": []}],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Detalhes" }, "401": { "description": "Não autorizado" }, "404": { "description": "Compra não encontrada" } }
      }
    }
  }
}
